{{ form_start(form) }}
{{ form_widget(form) }}

<input type="submit"  value="{{ 'Eliminar Usuario'}}" class="btn btn-danger lg-btn btn-block " onclick="return confirm('Estas Seguro?')" >   
<spanclass="glyphicon glyphicon-minus" aria-hidden="true"></span> 
</button>



{{ form_end(form) }}
